{% extends "_layout.html" %}
{% block content %}
{#{% if store_name %}

    <a href="{{url_for('shop')}}" method = "POST" class ="btn">Add another store</a> 
{%else%}#}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <h2>Homepage Woohoo</h2>
    <a href="{{url_for('shop')}}">Add a store!</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{{url_for('warehouse')}}">Add a warehouse</a>
{#{%endif%}#}
{% endblock %}

